body{
    background-color: snow;
}
.navbar-brand{
    margin-left: 5px;
}


form{
    
    width: 400px;
    margin-left: 500px;
    margin-top: 50px;
    padding-bottom: 125px;
}
.form-label{
    margin-left: 0px;
}
.form-control{
    margin-left: 0px;
    width: 350px;
}

p{
    text-align: justify;
    margin-left: 15px;
}
.container{
    margin-right: auto;
    margin-left: 15px;
    margin-bottom: auto;
}
.nav-link{
    font-size: larger;
}
.navbar-nav a{
    text-decoration: none;
    color: black;
}

